<h1>Welcome to aircraft damage prediction</h1>
<h2>Please enter your aircraft incident/accident details below:</h2>
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.InvestigationType.label }} {{form.InvestigationType}}
    <br>
    {{ form.Country.label }} {{form.Country}}
    <br>
    {{ form.InjurySeverity.label }} {{form.InjurySeverity}}
    <br>
    {{ form.AmateurBuilt.label }} {{form.AmateurBuilt}}
    <br>
    {{ form.NumberofEngines.label }} {{form.NumberofEngines}}
    <br>
    {{ form.FatalInjuries.label }} {{form.FatalInjuries}}
    <br>
    {{ form.SeriousInjuries.label }} {{form.SeriousInjuries}}
    <br>
    {{ form.MinorInjuries.label }} {{form.MinorInjuries}}
    <br>
    {{ form.Uninjured.label }} {{form.Uninjured}}
    <br>
    {{ form.submit() }}
</form>
